.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.item-side {
    height: 100%;
    width: 60%;
    background: var(--main-color);
    padding: var(--m);
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.domain-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: var(--xs);
    padding: var(--xs) 0;
}

.checkout-side {
    height: 100%;
    width: 40%;
    padding: var(--m);
}

#checkout-button {
    background: var(--button-color);
    margin-top: var(--l);
}

.remove-btn {
    background: var(--third-color);
}

#totals {
    margin-top: var(--l);
}

#totals p {
    margin-top: var(--s);
}

.item-side-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-side-header button {
    background: var(--button-color);
}